footer{
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: radial-gradient(at 100% 90%, rgba(0, 194, 204, .3), transparent 50%), radial-gradient(at 0% 100%, rgba(0, 194, 204, .3), transparent 50%);
}

footer .main-btn h5{
   text-align: center;
   padding: 15px;
   color: var(--color-white);
}

footer .main-btn .content-btn{
   display: flex;
   align-items: center;
   justify-content: center;
}

footer .main-btn .content-btn .btn{
   padding: 10px 20px;
}

footer .main-btn .content-btn .btn a{
   color: var(--color-white);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
footer .main-btn .content-btn .btn a:hover{
   color: var(--color-primary);
   transition: all .5s ease-in-out;
}